:host(.product-line) {
    padding: 0 10px;
    border-radius: 5px;
    margin-bottom: 5px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: rgba(0, 0, 0, 0.75);
}

:host(.product-line:hover) {
    box-shadow: 0 4px 24px -15px rgba(0, 0, 0, 0.75);
    color: rgba(0, 0, 0, 1);
}
